@import 'tailwindcss';

@layer base {
  body {
    font-family: var(--font-pretendard);
  }
}

@theme {
  --color-primary-blue: #4676fb;
  --color-primary-deepBlue: #001d6c;
  --color-neutral-regularBlack: #3a3a49;
  --color-neutral-white: #ffffff;
  --color-neutral-gray: #8d8d8d;
  --color-neutral-gray30: #d0d7dd;
  --color-neutral-gray10: #f6f7f8;
  --color-system-red: #da1e28;
  --color-system-lineGray: #e9e9e7;
  --color-system-green: #34a853;
  --color-system-blueBg: #f4f7ff;
  --shadow-card: 0px 2.88px 21.6px 0px rgba(0, 0, 0, 0.1);
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .text-title-big {
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0px;
    font-weight: 700;
  }
  .text-title {
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0px;
    font-weight: 700;
  }
  .text-regular18 {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0px;
    font-weight: 400;
  }
  .text-regular16 {
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0px;
    font-weight: 400;
  }
  .text-regular14 {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0px;
    font-weight: 400;
  }
  .text-regular10 {
    font-size: 10px;
    line-height: 1.1;
    letter-spacing: 0px;
    font-weight: 400;
  }
  .text-bold20 {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 700;
  }
  .text-bold18 {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 700;
  }
  .text-bold16 {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 700;
  }
}
